#Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

#test binary
*.test

#output

*.out

#Dependency directoies
#vendor/

#Go workspace file
go.work
go.work.sum

#env file
.env

storage
config

